.short-story {
    margin-left: 3rem;
    text-align: left;
}

.short-story > h1 {
    font-size: 24pt;
    margin-bottom: 1rem;
}

.short-story p {
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
    max-width: 60%;
    line-height: 1.1;
}

.short-story p:first-of-type:first-letter {
    color: rgb(150, 0, 20);
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    text-shadow: black 1px 1px 2px;
}